/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.jumbotron.jumbotron-fluid.text-center {
  background-image: url('https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg');
  background-size: cover;
  height: 100%;
}

.cardShowEvent {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 400px;
}

.Userinfos {
  display: flex;
  justify-content: end;
  height: auto;
}

.nav.nav-tabs {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 25% !important; 
  border: solid 0.1px grey;
  border-radius: 0.3rem;
}

.tab-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 25% !important; 
  border: solid 0.1px grey;
  border-radius: 0.3rem; 
  padding-top: 5px;
}

.card-body.Show {
  opacity: 0.50;
}

.card-header.Show {
  opacity: 0.80;
}

.dropdown-item:hover {
  background-color: #4EBD8C !important;
}

/*flash*/

.alert-error {
  background-color: #E74C3C;
  border-color: #d6e9c6;
  color: #ffffff;
  text-align: left;
}

.alert-alert {
  background-color: #E74C3C;
  border-color: #d6e9c6;
  color: #ffffff;
  text-align: left;
}

.alert-success {
  background-color: #4EBD8C;
  border-color: #d6e9c6;
  color: #ffffff;
  text-align: left;
}

.alert-notice {
  background-color: #4EBD8C;
  border-color: #d6e9c6;
  color: #ffffff;
  text-align: left;
}

